/*==================== VARIABLES ====================*/

    $ff-heading: 'Josefin Sans', sans-serif;
    $ff-body: 'Poppins', sans-serif;

    $clr-primary-400: h;
     
    $clr-dark-200: hsl(186, 36%, 20%);
    $clr-dark-300: hsl(186, 36%, 15%);
    $clr-dark-400: hsl(186, 36%, 10%);

    $clr-white-200: hsl(0, 0%, 90%);
    $clr-white-300: hsl(0, 0%, 95%);
    $clr-white-400: hsl(0, 0%, 98%);
    
    $card-open-bg: linear-gradient(-135deg, #77D037 0%, #429321 100%);
    $card-match-bg: linear-gradient(-136deg, #569CFF 0%, #515DEC 100%);
    $card-mismatch: linear-gradient(-135deg, #FF6674 0%, #E31534 100%);